* {
	box-sizing: border-box;
}

h1 {
	text-align: center;
}

#chicken {
	background-color: #FFA07A;
}

#beef {
	background-color: #B22222;
}

#soup {
	background-color: #FFA500;
}

.row{
	width: 100%;
	padding: 10px;
}

p {
	margin-top: 25px;
	text-align: left;
	font-family: Serif;
}

.title {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	border: 1px solid black;
	height: 30px;
	width: 125px;
	text-align: center;
	font-weight: bold;
	font-family: serif;
}

.section{
	position: relative;
	background-color: grey;
	margin: auto;
	
	float: left;
	padding: 10px;
	border: 1px solid black;
}

@media (min-width: 992px) {
	.col-l-1 {
		float: left;
		width: 33%;
		position: relative;
		padding: 10px;
		
	}

	.col-l-2 {
		float: left;		
		width: 33%;
		position: relative;
		padding: 10px;
	}

	.col-l-3 {
		float: left;
		width: 33%;
		position: relative;
		padding: 10px;
	}

}

@media (min-width: 768px) and (max-width: 992px){
	.col-md-1 {
		float: left;
		width: 50%;
		position: relative;
		padding: 10px;
		
	}

	.col-md-2 {
		float: left;		
		width: 50%;
		position: relative;
		padding: 10px;
	}

	.col-md-3 {
		float: left;
		width: 100%;
		position: relative;
		padding: 10px;
	}
}

@media (max-width: 768px){
	.col-s {
		float: left;
		width: 100%;
		position: relative;
		padding: 10px;
	}
}